class Config:
    def __init__(self):
        if True:
            self.dbhost = "127.0.0.1"
            self.dbuser = "barrybonds"
            self.dbpw = "(Password)"
            self.dbname = "lahman2016"
