class Config:
    def __init__(self):
        if False:
            self.dbhost = "mlbh2h.ccr2bbshqt2i.us-west-1.rds.amazonaws.com"
            self.dbuser = ""
            self.dbpw = ""
            self.dbname = "lahman2016"
        else:
            self.dbhost = "localhost"
            self.dbuser = "root"
            self.dbpw = ""
            self.dbname = "lahman2016"
