<!DOCTYPE html>
<html>
<head>
<title>About MLBH2H Project</title>
</head>
<body>

<p>
<h2> Purpose of the project </h2>
<p>We are new CS graduate, current graduate students. We want to experience with
 current web technologies. So we made a simple web apptdcation project to show
 how baseball teams play agaist each others.</p>
<h2> Technologies Used </h2>
<table>
    <thead>
        <tr>
            <th>Technology</th>
            <th>Solutions</th>
        </tr>
    </thead>
    <tbody>
        <tr><td style="text-align:left">Cloud Hosting </td>
            <td style="text-align:left"> AWS EC2</td>
        </tr>
        <tr><td style="text-align:left">Container </td>
            <td style="text-align:left"> Docker</td>
        </tr>
        <tr><td style="text-align:left">Web Framework </td><td style="text-align:left"> Flask</td></tr>
        <tr><td style="text-align:left">Database </td><td style="text-align:left"> MySQL</td></tr>
        <tr><td style="text-align:left">Database Hosting </td><td style="text-align:left"> AWS RDS(Relational Database Service)</td></tr>
        <tr><td style="text-align:left">Docker Repository </td><td style="text-align:left"> AWS ECR(Elastic Container Repository)</td></tr>
        <tr><td style="text-align:left">Version Control </td><td style="text-align:left"> GitHub</td></tr>
        <tr><td style="text-align:left">Frontend tools </td><td style="text-align:left"> Bootstrap, jQuery</td></tr>
        <tr><td style="text-align:left">Programing languages   </td><td style="text-align:left"> Python, JavaScript</td></tr>
        <tr><td style="text-align:left">Project Management </td><td style="text-align:left"> Trello</td></tr>
    </tbody>
</table>
<h2>Challenges Faced</h2>
<ul>
    <li>Most of the technologies were new to us</li>
    <li>The source data was in csv format in multiple files.
        We had to infer the schema and import th data to MySQL</li>
    <li>There are two source databases and we had to map the keys between them.</li>
    <li>Setting up the development environment to match the production environment was a challenge. Mac and Windows each has idiosyncrasies.</li>
    <li>Setting up the security rules for RDS</li>
    <li>Creating ssh tunnel to developer database access</li>
    <li>Surprisingly complex SQL queries</li>
</ul>
<h2> Room for improvement </h2>
<ul>
    <li>This was done on a single EC2 machine not using clustering feature.</li>
    <li>The GitHub commit process did not allow for code reviews.</li>
</ul>

<h2> Conclusion </h2>
It is successful project. We are confident working with those tools to build a web application.
Beside the knowledge and experiences with those tools, we improve the collabration with other team members.
This is our project <a href="https://github.com/helstone28/mlb-h2h" target="_blank">GitHub</a> link.
</p>

</body>
</html>
