{% extends "layout.html" %}
{% block body %}
<div class="container">
<div class="w3-container">
        
        <div class="dropdown", align = "center">
            <h2 style="display:inline-block">{{team1}}</h2>  <h3 style="width:100px ;display:inline-block"> against </h3>
            <div class="dropdown", style="width:370px;display:inline-block"">
            <h3>
            <select  class="w3-select" onchange="location = this.value;">
              {% for team in teams %}
                {% if team['name'].upper() == team2%}
                    <option value="/compare/{{franchID}}/{{team['franchID']}}" selected>{{team['name']}}</option>
                {% else %}
                    <option value="/compare/{{franchID}}/{{team['franchID']}}">{{team['name']}}</option>
                {% endif %}
              {% endfor %}
            </select>
            </h3>
          </div>
        </div>
</div>

<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:50px">
    <table id = "myTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th style="text-align:center">YEAR</th>
                <th style="text-align:center">TOTAL GAMES</th>
                <th style="text-align:center">{{team1}} WIN</th>
                <th style="text-align:center">{{team2}} WIN</th>
                <th style="text-align:center">{{team1}} WIN %</th>
            </tr>
        </thead>
        <tbody>
            {% for data in record %}
            <tr>
                <td style="text-align:center">{{data['yearID']}}</td>
                <td style="text-align:center">{{data['total_games']}}</td>
                <td style="text-align:center">{{data['Team1_WIN']}}</td>
                <td style="text-align:center">{{data['Team2_WIN']}}</td>
                <td style="text-align:center">{{data['percentWin']}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td style="text-align:center">Total Games</td>
                <td style="text-align:center">{{num_game}}</td>
                <td style="text-align:center">{{total1_win}}</td>
                <td style="text-align:center">{{total2_win}}</td>
                <td style="text-align:center">{{percent1_win}}</td>
            </tr>
        </tfoot>
    </table>
</div>
</div>
<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}

function myEmptyPage(){
    try {
        var x = document.getElementById('table');
        if (x == null){
            alert("Null");
        }
        else {
            x.innerHTML = "Hello World!";
        }
    }
    catch(err) {
        alert('excepion ' + err.message);
    }
}
$(document).ready(function() {
    $('table').DataTable( {
        "order": [[ 0, "desc" ]]
    } );
} );    
</script>
{% endblock %}
