{% extends 'layout.html' %}
{% block body %}
<div class="w3-container">

        <div class="dropdown", align = "center">
            <h2 style="display:inline-block">{{record[len_data-1]['name']}}</h2>  <h3 style="width:100px ;display:inline-block"> against </h3>

            <div class="dropdown", style="width:300px;display:inline-block">
            <h3>
            <select  class="w3-select" onchange="location = this.value;">
                <option>Everybody</option>
              {% for team in teams %}
              <option value="/compare/{{franchID}}/{{team['franchID']}}">{{team['name']}}</option>
              {% endfor %}
            </select>
            </h3>
          </div>
        </div>
</div>

            <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:50px">

                <table id = "myTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>TEAM NAME</th>
                            <th>YEAR</th>
                            <th>WIN</th>
                            <th>LOSE</th>
                            <th>WIN %</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for data in record %}
                        <tr>
                            <td>{{data['name']}}</td>
                            <td>{{data['yearID']}}</td>
                            <td>{{data['W']}}</td>
                            <td>{{data['L']}}</td>
                            <td>{{data['percentWin']}}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
            <script>
            // Script to open and close sidebar
            function w3_open() {
                document.getElementById("mySidebar").style.display = "block";
            }

            function w3_close() {
                document.getElementById("mySidebar").style.display = "none";
            }

            function myEmptyPage(){
                try {
                    var x = document.getElementById('table');
                    if (x == null){
                        alert("Null");
                    }
                    else {
                        x.innerHTML = "Hello World!";
                    }
                }
                catch(err) {
                    alert('excepion ' + err.message);
                }
            }
            $(document).ready(function() {
                $('table').DataTable( {
                    "order": [[ 1, "desc" ]],
                    "pageLength": 50
                } );
} );
        </script>

{% endblock %}
